

{% extends "base.html" %}
{% block title %}Ma page d'accueil{% endblock %}
{% block content %}
{% load static %}



<section class="for-full-back color-light " id="free-text" >
        <div class="container">

            </div>

     <div class="container" id="home">
        <div class="row text-center ">
             <div class="col-md-3 head-main ">
                            <i class="fa fa-bell color-blue "></i>
                         <h3>  <a href="#home">HOME</a></h3>

                 </div>
            <div class="col-md-3 head-main">

                          <i class="fa fa-edit color-blue "></i>
                         <h3>  <a href="#about">ABOUT</a></h3>

                 </div>
             <div class="col-md-3 head-main">

                        <i class="fa fa-globe color-blue "></i>
                         <h3>  <a href="#services">SERVICES</a></h3>

                 </div>
             <div class="col-md-3 head-main">
                   <i class="fa fa-headphones color-blue"></i>
                      <h3>  <a href="#contact">CONTACT</a></h3>

                 </div>
          </div>
    </div>
        </div>
    </section>
{% endblock %}