/agrold_webapp/nbproject/private/
/agrold_webapp_production/nbproject/private/
/agrold_webapp_production/dist/
/agrold_webapp_bck/agrold_webapp/dist/
/agrold_webapp_bck/agrold_webapp/nbproject/private
/agrold-javaweb/target/