<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- https://mvnrepository.com/artifact/javax.servlet/jstl -->
    <dependency>
        <groupId>javax.servlet</groupId>
        <artifactId>jstl</artifactId>
        <version>1.2</version>
    </dependency>

    <!-- You can have Catalina CORS filter configurations in your web.xml as below -->
    <!-- to allow access to clients from other domain -->
    <description>The application to query AgroLD KB on the web
        - quick search, sparql editor with patterns, relationships discovery, visual query system, advanced form-based search 
        - RESTful-like API (wrapping complexe biological questions)</description>
    <display-name>AgroLD Web application (production instance)</display-name>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AgroLD RESTful-like API</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <!-- Register resources and providers under my.package. -->
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>agrold.rest.api;agrold.rest.api.security</param-value>
        </init-param>
        <!-- Register my custom provider (not needed if it's in my.package) AND LoggingFilter. -->
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>agrold.rest.api.security.CORSResponseFilter</param-value>
        </init-param>
        <!-- Enable Tracing support. -->
        <init-param>
            <param-name>jersey.config.server.tracing</param-name>
            <param-value>ALL</param-value>
        </init-param>
    </servlet>
    <!-- User Session Management -->
    <!-- Routage between client and server member instantiation -->
    <!-- LOGIN -->
    <servlet>
        <servlet-class>agrold.ogust.servlet.Connection</servlet-class>
        <servlet-name>Login</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <!-- REGISTER -->
    <servlet>
        <servlet-class>agrold.ogust.servlet.Register</servlet-class>
        <servlet-name>Register</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <!-- LOGOUT -->
    <servlet>
        <servlet-class>agrold.ogust.servlet.Logout</servlet-class>
        <servlet-name>Logout</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <!-- HomeMemberAccess -->
    <servlet>
        <servlet-class>agrold.ogust.servlet.Restriction</servlet-class>
        <servlet-name>Member</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>Member</servlet-name>
        <url-pattern>/Member</url-pattern>
    </servlet-mapping>
    <!-- Request Saving from tool (SPARQL,QUICKSEARCH,ADVANCEDSEARCH) to HISTORY IN DB -->
    <servlet>
        <servlet-class>agrold.ogust.servlet.ToolHistory</servlet-class>
        <servlet-name>ToolHistory</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToolHistory</servlet-name>
        <url-pattern>/ToolHistory</url-pattern>
    </servlet-mapping>
    <!-- Filters for member access -->
    <filter>
        <filter-name>RestrictionFilter</filter-name>
        <filter-class>agrold.ogust.filters.RestrictionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RestrictionFilter</filter-name>
        <url-pattern>/META-INF</url-pattern>
    </filter-mapping>
    <!-- REST API -->
    <servlet-mapping>
        <servlet-name>AgroLD RESTful-like API</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <description>RelFinder Visualisation tool</description>
            <display-name>relfinder</display-name>
            <url-pattern>/relfinder</url-pattern>
        </jsp-property-group>
        <jsp-property-group>
            <description>ReVeaLD</description>
            <display-name>reveald</display-name>
            <url-pattern>/reveald/index.html</url-pattern>
        </jsp-property-group>
        <jsp-property-group>
            <description>AgroLD API documentation</description>
            <display-name>agrold-docs</display-name>
            <url-pattern>/agrold-docs</url-pattern>
        </jsp-property-group>
    </jsp-config>
    <listener>
        <listener-class>agrold.ogust.config.InitDAOFactory</listener-class>
    </listener>
</web-app>
