/* 
    Created on : Jul 15, 2015, 2:07:01 PM
    Author     : tagny
*/
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-family: Arial, sans-serif;*/
    font-size:13px;line-height:1.428571429;
    margin: 0 20px;
    padding:0;
    height:100%;    
}
#wrapper{
    min-height:100%;
    position:relative;
}
article
{
    padding:5px;
    /*border:dotted 3px #ff006e;*/
    margin-top:5px;
}

header
{
    padding:0px;
    text-align:center;
}

aside
{
    margin-top:5px;
    background-color:#f0eaea;
    padding:5px;
    text-align:center;
    font-style:italic;
    border:double 3px #b200ff;
}

section
{
    /*padding:5px;    */
    /*border:dashed 3px #0026ff;*/
    /*margin-top:5px;*/
    min-height: 600px;
    padding-bottom:100px; /* Height of the footer element */
}

footer
{
    padding:5px;
    text-align:center;
    /*font-weight:bold;*/
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
}

nav
{
    text-align:center;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:300;line-height:1.1;color:inherit}
h1,.h1{font-size:39px}h2,.h2{font-size:32px}h3,.h3{font-size:26px}h4,.h4{font-size:19px}h5,.h5{font-size:15px}h6,.h6{font-size:13px}
header h1{margin: 10px;}