/*
  Creator : J-C i. 2017 for CIRAD AGAP
  - Menu Horizontal (access and navigation for agroLD)
*/

/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.navbar-brand {
  padding: 0px;
}
/*********
*  Logo  *
*********/
.navbar-brand img {
  width : 160px;
  max-height: 100%;
  margin :none !important;
  padding : none !important;
}

/* EXAMPLE 6 - Background Logo*/
.example6 .navbar-brand{ 
  background: url(https://res.cloudinary.com/candidbusiness/image/upload/v1455406304/dispute-bills-chicago.png) center / contain no-repeat;
  width: 200px;
}
.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.brand-centered .navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-toggle {
  z-index: 1;
}

/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
 -webkit-transform-style: preserve-3d;
 -moz-transform-style: preserve-3d;
 transform-style: preserve-3d;
 height: 50px;
}
.navbar-alignit .navbar-brand {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	transform: translate(0,-50%);
	margin-right: 15px;
  margin-left: 15px;
}
.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}

/************
*   MENU    *
*************/
nav.navbar {
  background : #86b817;
  background : #fff;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0px 3px 8px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         0px 3px 8px 0px rgba(50, 50, 50, 0.25);
}
.navbar-light .navbar-nav .nav-link {
  color : #111 !important;
}
a.btn.nav-link {
  background : white !important;
  color : white;
  background-color : #86b817 !important;
  border-color : #86b817 !important;
}
.form-inline a.nav-link {
  margin-left : 10px;
}
/* Boutons users */
.user-nav a.btn-outline-secondary {
  background : none !important;
  color : grey;
}
.user-nav a.btn-outline-secondary:hover {
  background : rgba(0,0,0,.1) !important;
  
}
