/*
  Creator : J-C i. 2017 for CIRAD AGAP
  - Secondary page template (Generic template)
*/
body {
  font-family: "Lato";
  padding-top: 60px !important;
  min-height:100%;
}

/****************
*    Footer     *
****************/
footer {
  height: auto;
}
footer.footer {
/*position: absolute !important;*/
  padding : 0;
  text-align:center;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*! height: ; */
  line-height: 30px; /* Vertically center the text there */
  background-color: #f6f6f6;
  bottom: 0;
}
footer .resolve-grid { /* Solve the conflict between fulpage.JS(CSS) and Bootstrap */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding : 10px 0;
}
footer a{
  display: inline-block;
  position: relative;
  margin : 3px auto;
  text-align: center;
}
footer img {
  width : 100%;
  margin : none ;
  border : none ;
}
.hexagone {
  position: relative;
  width: 60px;
  height:60px;
  border : dashed 1px white;
  margin: 0;
  border-radius : 50%;
 	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
  background : #fff;
}
.hexagone:hover {
  -webkit-filter: grayscale(0);
	-webkit-filter: grayscale(0%);
	filter: none;
	filter: grayscale(0%);
}
.copyright {
  color : #626060;
  background : rgba(210, 210, 210, 0.3);

}

footer a {
    margin : 0 5%;
}


/**********************
*    API INFO PAGE    *
**********************/
.swag-swag{
  position : relative !important;
  background : url(../images/swagger_ban.png) 50% 0%;
  background-size : cover;
  margin-top : 0px !important;
  padding: none !important;
  margin-bottom: none !important;
  background-color: none !important;
  border-radius: none !important;
  min-height : 350px;
  
}
.swag-swag .container {
  min-height: 350px !important;
  position: relative;
}
.swag-swag .centering-fix {
  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color:#496001;
}
.ban-sp-title {
  font-size: 2em !important;
  padding-left : 10px;
  border-left : solid 5px;
  margin-bottom : 5px;
  font-weight: bold;
}
.info_description {
  
}
.swag-swag  .info_email a,.swag-swag  .info_license a,.swag-swag a[target=_blank] {
  color : white !important;
  display: inline-block !important;
}
.apiHelpFooter {
  background : rgba(0,0,0,.02);
  text-align: center;
  
}
/*********************
*    Quick Search    *
*********************/
/* FIL d'arian */
.arian-thread {
  height: 55px;
  background: #f3f3f3;
}
.canvas {
  max-height: 30px !important;
}
.info_title {
  padding : 10px 0;
  font-weight: bold;
  font-size: 25px;
  color : #b3b3b3;
}
.pos-l {
  
}
.active-p {
  color : #858d85;
}
.Q-search {
  position: absolute !important;
  z-index: 99999;
  top: 50%;
  transform: translateY(-50%);
}
.centering-search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foowrap {
  position:relative;
  /*min-height : calc( 100vh - 250px ); /* PROVISOIR */ 
  margin : 0px;
  min-height: 100%;
}
.delim {
  padding :  25px 0;
  background : #ffffff;
  border-radius : 5px;
  border : solid rgba(0,0,0,.1) 1px;
}
.exp {
  padding-top : 10px;
}
#sform {
  padding : 5px 0;
}
#sform input[type=submit] {
  cursor : pointer;
}
#sform input[type=submit]:hover {
  background: #86b817 ;
}

canvas {
  position: absolute;
  top: 0;
  left : 0;
  z-index: 0;
}
.txt-i .col-sm-6 {
  padding-left : 0;
}
/********************
*   SPARQL editor   *
********************/

#yasr a[target=_blank]{
  color : inherit !important;
}
.sparqlInfo {
  padding: 50px 0;
}
.sparqlInfo .col-sm-6 {
  padding-left: 0;
}
.spbg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3ecefd+0,13e786+100 */
  margin-bottom: 50px;
}
/*******************
*   Mise en page   *
*******************/
.jump-top {
  padding-top : 50px;
}
.jump-bot {
  height: 31vh;
}
/********************
*        BTN        *
*********************/
.btn-secondary.o-secondary {
  border-radius : 40px;
}
/********************
*    Media Query    *
*********************/
@media (min-width: 376px){
  .foowrap {
    /*border : solid 1px red; */
    position:relative;
    min-height : calc( 100vh - 400px );
  }
}
@media (min-width: 576px){
  .foowrap {
    /*border : solid 1px blue ; */
    position:relative;
    min-height : calc( 100vh - 400px );
  }
}
@media (min-width: 768px){
  .foowrap {
    /*border : solid 1px brown; */
    position:relative;
     min-height: calc( 100vh - 224px );
    height: 100%;
  }
}
@media (min-width: 992px){
  .foowrap {
    /*border : solid 1px green; */
    position:relative;
    min-height: calc( 100vh - 224px );
    
  }
}
@media (min-width: 1200px){
}
/********/
@media (max-width: 576px){
  .foowrap {
    /*border : solid 1px purple; */
    position:relative;
    min-height: calc( 100vh - 450px );
  }
}
