/* 
    Created on : Jul 15, 2015, 2:07:01 PM
    Author     : tagny
*/
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height:1.428571429;
    margin: 0;
    padding:0;
    height:100%;    
}
#wrapper{
    /*min-height:100%;*/
    /*! position:relative; */
    
}
article
{
    padding:5px;
    /*border:dotted 3px #ff006e;*/
    margin-top:5px;
}

header
{
    padding:0px;
    text-align:center;
}

aside
{
    margin-top:5px;
    background-color:#f0eaea;
    padding:5px;
    text-align:center;
    font-style:italic;
    border:double 3px #b200ff;
}

section
{
    /*padding:5px;    */
    /*border:dashed 3px #0026ff;*/
    /*margin-top:5px;*/
    /*height: 100%;
    min-height: 350px;
    padding-bottom:50px; *//* Height of the footer element */
}


nav
{
    text-align:center;
}
a {
    color: #428bca;
}
/* headers style*/
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight: normal;line-height:1.1;color:inherit}
h1,.h1{font-size:39px}h2,.h2{font-size:32px}h3,.h3{font-size:26px}h4,.h4{font-size:19px}h5,.h5{font-size:15px}h6,.h6{font-size:13px}
header h1{margin: 10px;}
/*
.btn {
    background: black; //#00B5AD!important;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(bottom, #3498db, #2980b9);
    //-webkit-border-radius: 28;
    //-moz-border-radius: 28;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: black; //#3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(bottom, #3cb0fd, #3498db);
    text-decoration: none;
}*/

.yasrbtn{
    color: #333;
    border: 1px solid transparent;
    background-color: #fff;
    border-color: #ccc;
    border-width: 1px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 12px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: button;
    overflow: visible;
    box-sizing: border-box;
}
input[type="submit"].yasrbtn, input[type="button"].yasrbtn, button.yasrbtn{
    background-color: #2671A2;
    color: #ffffff;
}

select.arrow
{
    background: url(arrow.gif) no-repeat right center;
}

input[type="text"].keyword {
    //display: block;
    margin: 0;
    /*! width: calc( 100% - 200px ); */
    font-family: sans-serif;
    font-size: 15px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus {
    outline: none;
}

#overlay {
    //background-color: rgba(0, 0, 0, 0.8);  
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}