body {
    font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
h1 {
    font: 4.7em normal Georgia, 'Times New Roman', Times, serif;
    color: #333;
    margin: 0;
    padding: 5px 0;
}
h1 small{
    font: 0.2em normal Verdana, Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    letter-spacing: 1.5em;
    display: block;
    color: #fff;
}
//.container {width: 970px; margin: 0 auto;}



ul#topnav {
    margin: 0; padding: 0;
    float: left;
    width: 100%;//970px;
    list-style: none;
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    //background:url(images/topnav_s.gif) repeat-x;
}
ul#topnav li {
    float: left;
    margin: 0; padding: 0;
    //border-right: 1px solid #555;
}
ul#topnav li a {
    padding: 10px 15px;
    display: block;
    color: #f0f0f0;
    //text-decoration: none;
}
/*ul#topnav li:hover { 
    //background: url(images/topnav_a.gif) repeat-x; 
    background-color: white;
    color: black;
}*/
ul#topnav li span {
    float: left;
    margin-left: 20px;
    padding: 20px 0;
    position: absolute;
    left: 0; top:30px;
    display: none;
    width: auto;  //50%;
    background-color: black; //rgb(126, 189, 0);
    color: white;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
ul#topnav li:hover span { display: block; }
ul#topnav li span a { display: inline;}
ul#topnav li span a:hover {text-decoration: underline;}